<!-- <div >
  <md-content layout="row" layout-align="center center">
    <div >
      <md-card style="width:400px">
      <div>
          <form novalidate name="employeeForm" ng-submit="employeeForm.$valid && saveInfo(employee)">
          <md-card-title>
            <md-card-title-text>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Name</label>
                  <input ng-model="employee.name" name='name' required>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Email</label>
                  <input type="email" ng-model="employee.email" name='email' role="alert">
                  <div ng-messages="employeeForm.email.$error" multiple md-auto-hide="false">
                    <div ng-message="type">
                      That's not a valid email!
                    </div>
                  </div>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Phone</label>
                  <input ng-model="employee.phone" phone-validation name='phone' required>
                    <div ng-messages="employeeForm.phone.$error.numlength" multiple md-auto-hide="false">
                      <div ng-message="numlength">
                        Enter a 10 or 11 digit phone number.
                      </div>
                    </div>
                </md-input-container>

          <md-input-container>
            <label>Hire Date</label>
            <md-datepicker ng-model="employee.hireDate"></md-datepicker>
          </md-input-container>

          


            </md-card-title-text>

          </md-card-title>
          <md-card-actions layout="row" layout-align="end center">
            <md-button type="submit">Save</md-button>
          </md-card-actions>
        </form>
       </div>
      </md-card>
      <md-button ng-click='goBack()'>Back</md-button>
  </md-content>
</div> -->


 <md-content layout="column" layout-align="center center">
  <md-card style='width:400px;padding:10px 40px'>
    <md-card-title>
    <md-card-title-text>
    <form novalidate name="employeeForm" ng-submit="employeeForm.$valid && saveInfo(employee)">
      <div layout="row">
        <md-input-container>
          <label>Name</label>
          <input required name="employeeName" ng-model="employee.name">
          <div ng-messages="employeeForm.employeeName.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
      </div>
      <div layout="row">

      <md-input-container class="md-block">
        <label>Email</label>
        <input name="employeeEmail" ng-model="employee.email" ng-pattern="/^.+@.+\..+$/"/>

        <div ng-messages="employeeForm.employeeEmail.$error" role="alert">
          <div ng-message='pattern'>
            That doesn't look like a valid email!
          </div>
        </div>
      </md-input-container>
      </div>
      <div layout="row">

      <md-input-container class="md-block" flex-gt-sm>
        <label>Phone</label>
        <input ng-model="employee.phone" phone-validation name='employeePhone' id='phoneInput'>
          <div ng-messages="employeeForm.employeePhone.$error">
            <div ng-message="numlength">
              Enter a 10 or 11 digit phone number.
            </div>
          </div>
      </md-input-container>
      </div>
      <div layout="row">

      <md-input-container>
        <label>Hire Date</label>
        <md-datepicker ng-model="employee.hireDate"></md-datepicker>
      </md-input-container>
      </div>
      </md-card-title-text>
      </md-card-title>

          <md-card-actions layout="row" layout-align="end center">
            <md-button type="submit">Save</md-button>
          </md-card-actions>

    </form>
    </md-card>
    <md-button ng-click='goBack()'>Back</md-button>

  </md-content>