 <md-content layout="column" layout-align="center center" md-colors="::{backgroundColor: 'default-primary-800'}">
  <md-card class='employeeDetail'>
    <md-card-content>
    <form novalidate name="employeeForm" ng-submit="employeeForm.$valid && saveInfo(employee)">
      <div layout="row">
        <md-input-container>
          <label>Name</label>
          <input required name="employeeName" ng-model="employee.name">
          <div ng-messages="employeeForm.employeeName.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
      </div>
      <div layout="row">

      <md-input-container class="md-block">
        <label>Email</label>
        <input name="employeeEmail" ng-model="employee.email" ng-pattern="/^.+@.+\..+$/"/>

        <div ng-messages="employeeForm.employeeEmail.$error" role="alert">
          <div ng-message='pattern'>
            That doesn't look like a valid email!
          </div>
        </div>
      </md-input-container>
      </div>
      <div layout="row">

      <md-input-container class="md-block" flex-gt-sm>
        <label>Phone</label>
        <input ng-model="employee.phone" phone-validation name='employeePhone' id='phoneInput'>
          <div ng-messages="employeeForm.employeePhone.$error">
            <div ng-message="numlength">
              Enter a 10 or 11 digit phone number.
            </div>
          </div>
      </md-input-container>
      </div>
      <div layout="row">

      <md-input-container>
        <label>Hire Date</label>
        <md-datepicker ng-model="employee.hireDate"></md-datepicker>
      </md-input-container>
      </div>
      </md-card-content>

          <md-card-actions layout="row" layout-align="end center">
            <md-button type="submit">Save</md-button>
            <md-button ng-click='deleteEmployee()' ng-hide='addMode'>Delete Employee</md-button>
          </md-card-actions>

    </form>
    </md-card>
    <md-button ng-click='goBack()'>Back</md-button>

  </md-content>