#dashboard{
  padding: 50px;
}

.errorMessage{
	color:red;
	font-size: 14px;
	text-align: center;
}

.transparent{
	background-color: transparent;
}

body{
	margin: 0px;
	padding:0px;
}

h1{
	margin-top:0px;
	font-family: 'Covered By Your Grace', cursive;
}

.h1Container{
	padding-top:40px;
}

.md-fab{
	margin-right:40px;
	margin-left:40px;
}

.employeeList{
	padding-bottom:40px;
}

.account-card{
	width:400px;
}

.employeeDetail{
	width:400px;
	padding:20px 40px;
	margin-top:40px;
}