<section id="login">
    <md-content layout-padding>
      <div class="container">
          <div class="row">
              <div class="col s12">
                  <h1 class="span">Login:</h1>
              </div>
          </div>
          <div class="row">
              <div class="col s12">
                  <form novalidate id="login-form" name="loginForm" ng-submit="loginForm.$valid && sendLogin(login)">
                  <!--PREVENT CHROME AUTOFILL-->
                  <input style="display:none" type="text" name="name"/>
                  <input style="display:none" type="password" name="password"/>
                  <!--END PREVENT CHROME AUTOFILL-->
                      <div layout-gt-xs="row">
                        <md-input-container class="md-block" flex-gt-sm>
                          <label>Email</label>
                          <input  ng-model="login.email" name="email" required>
                        </md-input-container>
                      </div>
                      <div layout-gt-xs="row">
                        <md-input-container class="md-block" flex-gt-sm>
                          <label>Password</label>
                          <input type='password' ng-model="login.password" name="password" required>
                        </md-input-container>
                      </div>
                      <div layout-gt-xs="row" class='errorMessage' layout-align="center center">
                        <p>{{loginerror}}</p>
                      </div>
                      <md-actions layout="row" layout-align="end center">
                        <md-button id="login-btn" type="submit" >Log In</md-button>
                      </md-actions>
                  </form>
              </div>
          </div>
      </div>
    </md-content>
</section>