<section id="signup">
    <md-content layout-padding>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h1>Sign Up</h1>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <form id="login-form" name="signupForm" ng-submit="signupForm.$valid && sendSignup(signup)">
                    <alert type="danger" ng-show="error"> {{ error }} </alert>
                                        <div layout-gt-xs="row">
                        <md-input-container class="md-block" flex-gt-sm>
                          <label>Email address</label>
                          <input ng-model="signup.email" name="email" required>
                        </md-input-container>
                      </div>
                                          <div layout-gt-xs="row">
                        <md-input-container class="md-block" flex-gt-sm>
                          <label>Company Name</label>
                          <input ng-model="signup.name" name="password" required>
                        </md-input-container>
                      </div>
                      <div layout-gt-xs="row">
                        <md-input-container class="md-block" flex-gt-sm>
                          <label>Password</label>
                          <input ng-model="signup.password" name="password" required type='password'>
                        </md-input-container>
                      </div>
                    <md-button  type="submit" >Sign Up</md-button>
                </form>
            </div>
        </div>
    </div>
    </md-content>
</section>