<section id="signup">
    <md-content layout-padding>
    <div >
        <div class="row">
            <div class="col s12">
                <h1>Sign Up</h1>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <form novalidate id="login-form" name="signupForm" ng-submit="signupForm.$valid && sendSignup(signup)">
                <!--PREVENT CHROME AUTOFILL-->
                <input style="display:none" type="text" name="name"/>
                <input style="display:none" type="password" name="password"/>
                    <div layout-gt-xs="row">
                        <md-input-container class="md-block" flex-gt-sm>
                          <label>Email address</label>
                          <input ng-model="signup.email" name="email" required>
                        </md-input-container>
                      </div>
                                          <div layout-gt-xs="row">
                        <md-input-container class="md-block" flex-gt-sm>
                          <label>Company Name</label>
                          <input ng-model="signup.name" name="name" required>
                        </md-input-container>
                      </div>
                      <div layout-gt-xs="row">
                        <md-input-container class="md-block" flex-gt-sm>
                          <label>Password</label>
                          <input ng-model="signup.password" name="password" required type='password' maxlength="15" minlength="5">
                          <div ng-messages="signupForm.password.$error">
                            <div ng-message-exp="['minlength', 'maxlength']">
                              Must be between 5 and 15 characters.
                            </div>
                          </div>
                        </md-input-container>
                      </div>
                      <div layout-gt-xs="row" class='errorMessage' layout-align="center center">
                        <p>{{signuperror}}</p>
                      </div>
                      <md-actions layout="row" layout-align="end center">
                        <md-button type="submit" >Sign Up</md-button>
                      </md-actions>
                </form>
            </div>
        </div>
    </div>
    </md-content>
</section>